.home-container {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-size: 72px;
  }

  .posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 32px;
  }
}
