.navigation-container {
  display: flex;
  justify-content: space-between;

  padding: 16px;

  .logo-icon-container {
    img {
      border-radius: 100%;
    }
  }

  .nav-menu {
    display: flex;

    a {
      color: black;
      list-style: none;
      margin: 0 12px;
      text-decoration: none;
    }
  }
}
